body {
    background-color: grey;
}

/***
 * Everything below  will go into the "Targeted section" that is 
 * above the divi element (Green Section).
 */

.upcoming-courses-section,
.card-duo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.course-card {
    background-color: white;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}

.course-image-frame {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.course-image {
    object-fit: cover;
    display: block;
    aspect-ratio: 450/325;
    width: 100%;
}

/* Animation of card hover */
.course-card:hover {
    .course-image {
        scale: 110%;
        transition: 500ms;
    }
}

.course-lower {
    padding: 20px;
}

.course-title {
    margin-top: 10px;
    height: 150px;
    font-size: 20px;
    color: #000000;
    line-height: 1.5em;
}

.course-location {
    margin-bottom: 5px;
    padding: 0 !important;
}

.course-date {
    margin-top: 0px;
    padding-bottom: 50px !important;
    line-height: 1em;
}


/*** 
 * Adjusts elements once it is in between 1510px and 1315px.
 * When going below, it will revert back to orginal sizing, 
 * which is pre set up for mobile sizing.
 */
@media (max-width: 1510px) and (min-width: 1315px) {
    .course-card {
        width: 300px;
    }
}